@import '../../styles/colors';
@import '../../styles/forms';
@import '../../styles/typography';

.commentInput {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;

  &__input {
    @extend %input;
    flex: 5;
    margin-right: .5rem;
  }
  &__text {
    color: rgba(255,255,255,.75);
    margin-bottom: 2rem;
    text-align: center;
  }
}
